



<ion-app>
   
        <ion-header >
              <ion-toolbar>
                <ion-title class="tit-bgcolor" >
                  <ion-icon src="assets/cow.svg"></ion-icon>
                   SÜRÜM 
                </ion-title>
              </ion-toolbar>
        </ion-header>
              
        <ion-content class="bg-img">
          
            <ion-card class="card-general">
                <ion-card-header>
                  <ion-card-subtitle><ion-icon class="menu-icon" src="assets/cow2.svg"></ion-icon></ion-card-subtitle>
                  <ion-card-title class="detail-card-title hayvan-card-title">
                      Hayvanlarım</ion-card-title>
                </ion-card-header>

                <ion-card-content>

                </ion-card-content>
           </ion-card>

           <ion-card class="card-general">
              <ion-card-header>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title class="detail-card-title suru-card-title">Sürü Özeti</ion-card-title>
              </ion-card-header>

              <ion-card-content>

              </ion-card-content>
         </ion-card>

         <ion-card class="card-general">
            <ion-card-header>
              <ion-card-subtitle></ion-card-subtitle>
              <ion-card-title class="detail-card-title danisman-card-title">Danışman</ion-card-title>
            </ion-card-header>

            <ion-card-content>

            </ion-card-content>
       </ion-card>

       <ion-card class="card-general">
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title class="detail-card-title veri-card-title">Veri Gir</ion-card-title>
          </ion-card-header>

          <ion-card-content>

          </ion-card-content>
     </ion-card>

     <ion-card class="card-general">
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title class="detail-card-title besleme-card-title">Besleme</ion-card-title>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>
   </ion-card>

   <ion-card class="card-general">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title class="detail-card-title kiralik-card-title">Karlılık</ion-card-title>
      </ion-card-header>

      <ion-card-content>

      </ion-card-content>
 </ion-card>

 
         </ion-content>
    
</ion-app>
