.tit-bgcolor{
   background:rgb(0, 0, 0);
   opacity: 0.8;
   color: red;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-content {
    --background: none;
    background-image: url('surum.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.card-general{
   background: white;
   border-radius: 14%;
   width: 150px;
   height: 150px;
   opacity: 0.7;
   float: left;
}

.detail-card-title {
    
    font-family:'San Francisco';
    font-size: 18px;

}

.suru-card-title{
    margin-top: 60px;
    margin-left: 13px;
}

.hayvan-card-title{
    margin-top: 7%;
    margin-left: 3%;
}

.danisman-card-title{
    margin-top: 60px;
    margin-left: 12px;
}

.veri-card-title{
    margin-top: 60px;
    margin-left: 21px;
}

.besleme-card-title{
    margin-top: 60px;
    margin-left: 18px;
}

.kiralik-card-title{
    margin-top: 60px;
    margin-left: 24px;
}

.menu-icon{
    font-size: 58px;
    padding-left: 23px;
}